<div class="title"><h1 class="center-flex">BT Log Stats</h1></div>

<div class="calendar">
  <h2>{{$ctrl.year}}</h2>
  <div uib-carousel active="$ctrl.activeIndex" no-transistion="true" no-wrap="true">
    <div uib-slide ng-repeat="group in $ctrl.monthYearGroups track by $index" index="$index">
      <heatmap-month ng-repeat="monthYear in group track by $index"
        year="monthYear.year" month="monthYear.month" username="$ctrl.username" offset="$ctrl.offset">
      </heatmap-month>
    </div>
  </div>
  <div class="btn-group center-flex">
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="-7">Pacific</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="-6">Mountain</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="-5">Central</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="-4">Eastern</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="0">London</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="1">Berlin</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="2">Athens</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="8">UTC+8</label>
    <label class="btn btn-primary" ng-model="$ctrl.offset" uib-btn-radio="9">UTC+9</label>
  </div>
</div>

<div class="username">
  <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    placeholder="Username" ng-model="$ctrl.typeaheadValue" type="text" typeahead-on-select="$ctrl.commitUsername($model)"
    uib-typeahead="username for username in $ctrl.usernames | filter:$viewValue | orderBy : $viewValue.length : false : $ctrl.sortUsernames | limitTo:5">
  </input>
</div>
<div class="stats">
    <div class="stat-item panel panel-default">
      <div class="panel-heading">
        <h2 class="login-date-header">First Login Date</h2>
        <span class="glyphicon glyphicon-info-sign" uib-popover="Logs start on 2014-01-09" popover-trigger="'mouseenter'"></span>
      </div>
      <div class="panel-body"><h4>{{$ctrl.firstLogin}}</h4></div>
    </div>
  <div class="stat-item panel panel-default">
    <div class="panel-heading"><h2># of Times Logged In</h2></div>
    <div class="panel-body"><h4>{{$ctrl.loginCount}} Logins</h4></div>
  </div>
  <div class="stat-item panel panel-default">
    <div class="panel-heading"><h2>Total Logged In Time</h2></div>
    <div class="panel-body"><h4>{{$ctrl.loginTimeTotal}} Days</h4></div>
  </div>
  <div class="stat-item panel panel-default">
    <div class="panel-heading"><h2>Total # Messages</h2></div>
    <div class="panel-body"><h4>{{$ctrl.messagesTotal}} Messages</h4></div>
  </div>
  <div class="stat-item panel panel-default">
    <div class="panel-heading"><h2>Most Used Emotes</h2></div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Emote</th>
          <th># of Times Used</th>
        </tr>
        <tr ng-repeat="emote in $ctrl.mostUsedEmotes | orderBy:emote.times">
          <td scope="row">{{$index+1}}</td>
          <td>{{emote.name}}</td>
          <td>{{emote.times}}</td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>
